
.header{
    background-color: rgb(72, 80, 234);
    padding: 10px;
    box-shadow: 0px 4px rgba(13, 37, 97, 0.34);


}

.heading{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin:0;
    margin-bottom: 10px;
    justify-self: center;
    color: rgb(193, 225, 238);
    text-shadow:5px 5px black;
}
