/* Group*/
.groupBox{
    border: 2px solid rgba(40, 21, 107, 0.762);
    border-radius: 5px;
    background-color: rgb(223, 253, 255);
    box-shadow: 3px 3px rgba(129, 105, 105, 0.293);
    margin: 20px 10px 20px 10px;
    
}

.header{
    display: flex;
    flex-direction: row;
}

.occasion{
    color: rgb(53, 139, 30);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin: 10px;
    flex:4;
}
.editButton{
    font-size: 20px;
    font-weight: 600;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    border-radius: 5px;
    vertical-align:5%;
    background-color:gold;
    flex:1;
    margin: 10px;

}
.editOccasion{
    margin: 10px;
    height: 25px;
    
}


.memList{
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none;
    padding:0;
    margin-left:10px;
    margin-right: 10px;
}

.footer{
    display: flex;
    margin: 12px;
    height: 30px;
}

.addButton, .splitButton{
    flex:1;
    font-size: clamp(0.5em , 1.5vw, 1.2em);
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    border-radius: 30px;
    background-color: aquamarine;
    box-shadow: 3px 3px rgba(6, 91, 91, 0.393);
    padding:0;  
}
.nameInput{
    margin-left: 5px;
    flex:1;
}
.space{
    flex:3;
}


/*Member*/

.mem{
    display: flex;
    gap:20px;
    height: 30px;
}

.memName{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    flex: 5;
}

.contri{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    flex:2;
}
.amountInput{
    width: 10px;
    flex:2;
}

.appendButton{
    background-color: rgb(39, 68, 84);
    color: rgb(254, 254, 147);
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px rgba(176, 154, 29, 0.584);
    flex:1;

}
.kickButton{
    background-color: rgb(224, 86, 65);
    color: rgb(67, 47, 59);
    font-weight: 600;
    font-size: 15px;
    box-shadow: 2px 2px rgba(207, 7, 184, 0.584);
    flex:1;

}