html, body , #root {
    height: 100%;
    margin:0;
}

.page{
    display: flex;
    height: 100vh;
}

.sidebar {
  width: 250px;
  background: #111;
  color: white;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}