html, body , #root {
    height: 100%;
    margin:0;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex:1;
}
.newGroupbutton{
    width: 130px;
    height: 35px;
    margin: 10px 0 5px 10px;
    background-color: rgb(10, 31, 126);
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px rgba(68, 45, 172, 0.207);

}